# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=iviUwl1IwhP/8/r8itDb2G80z8EaKcJP5hXa++YpvBc=

# Database URL
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"


